# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.pid.lock

# Compiled output
dist/
build/

# Vite local cache
.vite/
.temp/

# Dependency directories
node_modules/

# IDE-specific files
.vscode/
.idea/

# Environment variable files
.env
.env.*.local

# macOS and other system files
.DS_Store
Thumbs.db